.circle{
    background-color: #2A4466;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    border: 1px solid
}
.line{
    height: 108px;
    width: 3px;
    background-color: #757677;
    margin-left: 8px;
}